In [1]:
import pandas as pd
import numpy as np

In [2]:
df_psy = pd.read_csv('Youtube01-Psy.csv')

In [3]:
df_psy.head()

,COMMENT_ID,AUTHOR,DATE,CONTENT,CLASS
0,LZQPQhLyRh80UYxNuaDWhIGQYNQ96IuCg-AYWqNPjpU,Julius NM,2013-11-07T06:20:48,"Huh, anyway check out this you[tube] channel: ...",1
1,LZQPQhLyRh_C2cTtd9MvFRJedxydaVW-2sNg5Diuo4A,adam riyati,2013-11-07T12:37:15,Hey guys check out my new channel and our firs...,1
2,LZQPQhLyRh9MSZYnf8djyk0gEF9BHDPYrrK-qCczIY8,Evgeny Murashkin,2013-11-08T17:34:21,just for test I have to say murdev.com,1
3,z13jhp0bxqncu512g22wvzkasxmvvzjaz04,ElNino Melendez,2013-11-09T08:28:43,me shaking my sexy ass on my channel enjoy ^_^ ﻿,1
4,z13fwbwp1oujthgqj04chlngpvzmtt3r3dw,GsMega,2013-11-10T16:05:38,watch?v=vtaRGgvGtWQ Check this out .﻿,1

In [4]:
df_psy.shape

(350, 5)

5 columns and 350 rows

In [5]:
df_psy.count()

COMMENT_ID    350
AUTHOR        350
DATE          350
CONTENT       350
CLASS         350
dtype: int64

No Null values present here ;)

In [6]:
df_kp = pd.read_csv('Youtube02-KatyPerry.csv')

In [7]:
df_kp.head()

,COMMENT_ID,AUTHOR,DATE,CONTENT,CLASS
0,z12pgdhovmrktzm3i23es5d5junftft3f,lekanaVEVO1,2014-07-22T15:27:50,i love this so much. AND also I Generate Free ...,1
1,z13yx345uxepetggz04ci5rjcxeohzlrtf4,Pyunghee,2014-07-27T01:57:16,http://www.billboard.com/articles/columns/pop-...,1
2,z12lsjvi3wa5x1vwh04cibeaqnzrevxajw00k,Erica Ross,2014-07-27T02:51:43,Hey guys! Please join me in my fight to help a...,1
3,z13jcjuovxbwfr0ge04cev2ipsjdfdurwck,Aviel Haimov,2014-08-01T12:27:48,http://psnboss.com/?ref=2tGgp3pV6L this is the...,1
4,z13qybua2yfydzxzj04cgfpqdt2syfx53ms0k,John Bello,2014-08-01T21:04:03,Hey everyone. Watch this trailer!!!!!!!! http...,1

In [8]:
df_kp.shape

(350, 5)

In [9]:
df_kp.count()

COMMENT_ID    350
AUTHOR        350
DATE          350
CONTENT       350
CLASS         350
dtype: int64

No Null values present here also ;)

In [10]:
df_lmfao = pd.read_csv('Youtube03-LMFAO.csv')

In [11]:
df_lmfao.head()

,COMMENT_ID,AUTHOR,DATE,CONTENT,CLASS
0,z13uwn2heqndtr5g304ccv5j5kqqzxjadmc0k,Corey Wilson,2015-05-28T21:39:52.376000,"<a href=""http://www.youtube.com/watch?v=KQ6zr6...",0
1,z124jvczaz3dxhnbc04cffk43oiugj25yzo0k,Epic Gaming,2015-05-28T20:07:20.610000,wierd but funny﻿,0
2,z13tczjy5xj0vjmu5231unho1ofey5zdk,LaS Music,2015-05-28T19:23:35.355000,"Hey guys, I&#39;m a human.<br /><br /><br />Bu...",1
3,z13tzr0hdpnayhqqc04cd3zqqqjkf3ngckk0k,Cheryl Fox,2015-05-28T17:49:35.294000,Party Rock....lol...who wants to shuffle!!!﻿,0
4,z12pcvix4zedcjvyb04ccr1r0mr2g5xwyng0k,PATRICK_TW,2015-05-28T16:28:26.818000,Party rock﻿,0

In [12]:
df_lmfao.shape

(438, 5)

In [13]:
df_lmfao.count()

COMMENT_ID    438
AUTHOR        438
DATE          438
CONTENT       438
CLASS         438
dtype: int64

No Null values present here also ;)

In [14]:
df_em = pd.read_csv('Youtube04-Eminem.csv')

In [15]:
df_em.head()

,COMMENT_ID,AUTHOR,DATE,CONTENT,CLASS
0,z12rwfnyyrbsefonb232i5ehdxzkjzjs2,Lisa Wellas,NaN,+447935454150 lovely girl talk to me xxx﻿,1
1,z130wpnwwnyuetxcn23xf5k5ynmkdpjrj04,jason graham,2015-05-29T02:26:10.652000,I always end up coming back to this song<br />﻿,0
2,z13vsfqirtavjvu0t22ezrgzyorwxhpf3,Ajkal Khan,NaN,"my sister just received over 6,500 new <a rel=...",1
3,z12wjzc4eprnvja4304cgbbizuved35wxcs,Dakota Taylor,2015-05-29T02:13:07.810000,Cool﻿,0
4,z13xjfr42z3uxdz2223gx5rrzs3dt5hna,Jihad Naser,NaN,Hello I&#39;am from Palastine﻿,1

In [16]:
df_em.shape

(448, 5)

In [17]:
df_em.count()

COMMENT_ID    448
AUTHOR        448
DATE          203
CONTENT       448
CLASS         448
dtype: int64

Some missing values are there in the date column

In [18]:
df_sk = pd.read_csv('Youtube05-Shakira.csv')

In [19]:
df_sk.head()

,COMMENT_ID,AUTHOR,DATE,CONTENT,CLASS
0,z13lgffb5w3ddx1ul22qy1wxspy5cpkz504,dharma pal,2015-05-29T02:30:18.971000,Nice song﻿,0
1,z123dbgb0mqjfxbtz22ucjc5jvzcv3ykj,Tiza Arellano,2015-05-29T00:14:48.748000,I love song ﻿,0
2,z12quxxp2vutflkxv04cihggzt2azl34pms0k,Prìñçeśś Âliś Łøvê Dømíñø Mâđiś™ ﻿,2015-05-28T21:00:08.607000,I love song ﻿,0
3,z12icv3ysqvlwth2c23eddlykyqut5z1h,Eric Gonzalez,2015-05-28T20:47:12.193000,"860,000,000 lets make it first female to reach...",0
4,z133stly3kete3tly22petvwdpmghrlli,Analena López,2015-05-28T17:08:29.827000,shakira is best for worldcup﻿,0

In [20]:
df_sk.shape

(370, 5)

In [21]:
df_sk.count()

COMMENT_ID    370
AUTHOR        370
DATE          370
CONTENT       370
CLASS         370
dtype: int64

No missing values ;)

Trying to merge all the datasets into one so that we'll have one large dataset

In [22]:
data_frames = [df_psy, df_kp, df_lmfao, df_em, df_sk]

As we can see all the dataset have the same column names luckily, COMMENT_ID, AUTHOR, DATE, CONTENT, CLASS by this it is easy for us to use the .concat command by pandas to that it will concatenate all the data according to their respective column starting from the "df_psy" up to the "df_sk"

In [23]:
concat_df = pd.concat(data_frames)

In [24]:
concat_df.head()

,COMMENT_ID,AUTHOR,DATE,CONTENT,CLASS
0,LZQPQhLyRh80UYxNuaDWhIGQYNQ96IuCg-AYWqNPjpU,Julius NM,2013-11-07T06:20:48,"Huh, anyway check out this you[tube] channel: ...",1
1,LZQPQhLyRh_C2cTtd9MvFRJedxydaVW-2sNg5Diuo4A,adam riyati,2013-11-07T12:37:15,Hey guys check out my new channel and our firs...,1
2,LZQPQhLyRh9MSZYnf8djyk0gEF9BHDPYrrK-qCczIY8,Evgeny Murashkin,2013-11-08T17:34:21,just for test I have to say murdev.com,1
3,z13jhp0bxqncu512g22wvzkasxmvvzjaz04,ElNino Melendez,2013-11-09T08:28:43,me shaking my sexy ass on my channel enjoy ^_^ ﻿,1
4,z13fwbwp1oujthgqj04chlngpvzmtt3r3dw,GsMega,2013-11-10T16:05:38,watch?v=vtaRGgvGtWQ Check this out .﻿,1

In [25]:
concat_df.shape

(1956, 5)

In [26]:
concat_df.count()

COMMENT_ID    1956
AUTHOR        1956
DATE          1711
CONTENT       1956
CLASS         1956
dtype: int64

Look we've now a total of 1956 rows, that is sum up from the separately of 5 datasets.
The DATE column was having some missing values in the 'Youtube04-Eminem' dataset.

In [27]:
concat_df

,COMMENT_ID,AUTHOR,DATE,CONTENT,CLASS
0,LZQPQhLyRh80UYxNuaDWhIGQYNQ96IuCg-AYWqNPjpU,Julius NM,2013-11-07T06:20:48,"Huh, anyway check out this you[tube] channel: ...",1
1,LZQPQhLyRh_C2cTtd9MvFRJedxydaVW-2sNg5Diuo4A,adam riyati,2013-11-07T12:37:15,Hey guys check out my new channel and our firs...,1
2,LZQPQhLyRh9MSZYnf8djyk0gEF9BHDPYrrK-qCczIY8,Evgeny Murashkin,2013-11-08T17:34:21,just for test I have to say murdev.com,1
3,z13jhp0bxqncu512g22wvzkasxmvvzjaz04,ElNino Melendez,2013-11-09T08:28:43,me shaking my sexy ass on my channel enjoy ^_^ ﻿,1
4,z13fwbwp1oujthgqj04chlngpvzmtt3r3dw,GsMega,2013-11-10T16:05:38,watch?v=vtaRGgvGtWQ Check this out .﻿,1
...,...,...,...,...,...
365,_2viQ_Qnc6-bMSjqyL1NKj57ROicCSJV5SwTrw-RFFA,Katie Mettam,2013-07-13T13:27:39.441000,I love this song because we sing it at Camp al...,0
366,_2viQ_Qnc6-pY-1yR6K2FhmC5i48-WuNx5CumlHLDAI,Sabina Pearson-Smith,2013-07-13T13:14:30.021000,I love this song for two reasons: 1.it is abou...,0
367,_2viQ_Qnc6_k_n_Bse9zVhJP8tJReZpo8uM2uZfnzDs,jeffrey jules,2013-07-13T12:09:31.188000,wow,0
368,_2viQ_Qnc6_yBt8UGMWyg3vh0PulTqcqyQtdE7d4Fl0,Aishlin Maciel,2013-07-13T11:17:52.308000,Shakira u are so wiredo,0
369,_2viQ_Qnc685RPw1aSa1tfrIuHXRvAQ2rPT9R06KTqA,Latin Bosch,2013-07-12T22:33:27.916000,Shakira is the best dancer,0

Assigning keys to every datasets' comments in the concatenated dataset so that if we need to see the comments of a specific person or say dataset it would be easy for us to do

In [28]:
keys = ['psy', 'kattyPerry', 'lmfao', 'eminem', 'shakira']

In [29]:
# by default the keys parameter is set to none
final_dataframe = pd.concat(data_frames, keys=keys)

In [30]:
final_dataframe.count()

COMMENT_ID    1956
AUTHOR        1956
DATE          1711
CONTENT       1956
CLASS         1956
dtype: int64

Nothing is changed with the dataset's columns and rows

But now we can see the comments of Katty Perry from the final large dataset

In [31]:
final_dataframe.loc['kattyPerry']

,COMMENT_ID,AUTHOR,DATE,CONTENT,CLASS
0,z12pgdhovmrktzm3i23es5d5junftft3f,lekanaVEVO1,2014-07-22T15:27:50,i love this so much. AND also I Generate Free ...,1
1,z13yx345uxepetggz04ci5rjcxeohzlrtf4,Pyunghee,2014-07-27T01:57:16,http://www.billboard.com/articles/columns/pop-...,1
2,z12lsjvi3wa5x1vwh04cibeaqnzrevxajw00k,Erica Ross,2014-07-27T02:51:43,Hey guys! Please join me in my fight to help a...,1
3,z13jcjuovxbwfr0ge04cev2ipsjdfdurwck,Aviel Haimov,2014-08-01T12:27:48,http://psnboss.com/?ref=2tGgp3pV6L this is the...,1
4,z13qybua2yfydzxzj04cgfpqdt2syfx53ms0k,John Bello,2014-08-01T21:04:03,Hey everyone. Watch this trailer!!!!!!!! http...,1
...,...,...,...,...,...
345,z12sjp3zgtqnvlysj23zuxxaolrvd1oj504,Kacy Cluley,2015-06-05T18:59:52,This song means so much to me thank you soooo...,0
346,z132enrpoy35yxpoe04cjr4zur3jvbyq3xo0k,Kasia Fabisiewicz,2015-06-05T19:02:05,&lt;3﻿,0
347,z132jbmxfqm4fjysg23nwjfb2mv2vxnua,Decio Alves Martins,2015-06-05T19:29:20,"KATY PERRY, I AM THE ""DÉCIO CABELO"", ""DECIO HA...",1
348,z12cdlswetvnejcri04cex0jfwy2u3tzj54,Rafi Hossain,2015-06-05T19:55:08,Honestly speaking except taylor swift and adel...,0
349,z120e5uautvcuper304ccf4bjrjugdpbwrc0k,moaz adnan,2015-06-05T20:01:23,who is going to reach the billion first : katy...,0

In [32]:
# Look in above code it print out the comments ralted to the key==kattyPerry. 
# And for confirmation I run this line of code
df_kp.head()

,COMMENT_ID,AUTHOR,DATE,CONTENT,CLASS
0,z12pgdhovmrktzm3i23es5d5junftft3f,lekanaVEVO1,2014-07-22T15:27:50,i love this so much. AND also I Generate Free ...,1
1,z13yx345uxepetggz04ci5rjcxeohzlrtf4,Pyunghee,2014-07-27T01:57:16,http://www.billboard.com/articles/columns/pop-...,1
2,z12lsjvi3wa5x1vwh04cibeaqnzrevxajw00k,Erica Ross,2014-07-27T02:51:43,Hey guys! Please join me in my fight to help a...,1
3,z13jcjuovxbwfr0ge04cev2ipsjdfdurwck,Aviel Haimov,2014-08-01T12:27:48,http://psnboss.com/?ref=2tGgp3pV6L this is the...,1
4,z13qybua2yfydzxzj04cgfpqdt2syfx53ms0k,John Bello,2014-08-01T21:04:03,Hey everyone. Watch this trailer!!!!!!!! http...,1

Now save the final_dataframe into a csv file by the pandas method to_csv

In [33]:
final_dataframe.to_csv('final_dataframe.csv')

In [34]:
final_dataframe.size

9780

## Cleaning the data

In [35]:
final_dataframe.columns

Index(['COMMENT_ID', 'AUTHOR', 'DATE', 'CONTENT', 'CLASS'], dtype='object')

In [36]:
final_dataframe.dtypes

COMMENT_ID    object
AUTHOR        object
DATE          object
CONTENT       object
CLASS          int64
dtype: object

In [37]:
final_dataframe.isnull().isnull().sum()

COMMENT_ID    0
AUTHOR        0
DATE          0
CONTENT       0
CLASS         0
dtype: int64

In [38]:
final_dataframe.isnull().sum()

COMMENT_ID      0
AUTHOR          0
DATE          245
CONTENT         0
CLASS           0
dtype: int64

In [39]:
final_dataframe.DATE

psy      0             2013-11-07T06:20:48
         1             2013-11-07T12:37:15
         2             2013-11-08T17:34:21
         3             2013-11-09T08:28:43
         4             2013-11-10T16:05:38
                           ...
shakira  365    2013-07-13T13:27:39.441000
         366    2013-07-13T13:14:30.021000
         367    2013-07-13T12:09:31.188000
         368    2013-07-13T11:17:52.308000
         369    2013-07-12T22:33:27.916000
Name: DATE, Length: 1956, dtype: object

In [40]:
final_dataframe.AUTHOR

psy      0                 Julius NM
         1               adam riyati
         2          Evgeny Murashkin
         3           ElNino Melendez
         4                    GsMega
                        ...
shakira  365            Katie Mettam
         366    Sabina Pearson-Smith
         367           jeffrey jules
         368          Aishlin Maciel
         369             Latin Bosch
Name: AUTHOR, Length: 1956, dtype: object

### Contents

As if look up the we can observe that from the contents, we'll classiy the comments as spam or not spam. 
Like the other attributes doesn't matter that much. As the one is name, we don't care about who is the author. Also in case of 
date it also doesn't matter like on which date it has been posted or something else.
So for us the 'CONTENT' and the 'CLASS' columns are most important.

In [41]:
data_df = final_dataframe[['CONTENT', 'CLASS']]

In [42]:
data_df.head()

                                                 CONTENT  CLASS
psy 0  Huh, anyway check out this you[tube] channel: ...      1
    1  Hey guys check out my new channel and our firs...      1
    2             just for test I have to say murdev.com      1
    3   me shaking my sexy ass on my channel enjoy ^_^ ﻿      1
    4            watch?v=vtaRGgvGtWQ   Check this out .﻿      1

In [43]:
data_df.count()

CONTENT    1956
CLASS      1956
dtype: int64

In [44]:
data_df.columns

Index(['CONTENT', 'CLASS'], dtype='object')

In [45]:
data_feature = data_df['CONTENT']
data_label = data_df['CLASS']

### Extracting features from text

In [46]:
# ML Packages For Vectorization of Text For Feature Extraction
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

Extracting the features with the CountVectorizer()

In [47]:
corpus = data_feature

In [48]:
vectorizer = CountVectorizer()

In [49]:
# fit the data (feature) which is in corpus 
X = vectorizer.fit_transform(corpus)

In [50]:
# Here are the features it extracted from the data
vectorizer.get_feature_names()

['00',
 '000',
 '002',
 '018',
 '02',
 '034',
 '04',
 '047000',
 '05',
 '053012',
 '0687119038',
 '08',
 '09',
 '0cb8qfjaa',
 '0d878a889c',
 '0dbhjzdw0lbsjbi40gxm0d0p5krhv8xinqli53__wqbahs8zx4mjhw5vwrkpxfoeks',
 '0laviqu2b',
 '10',
 '100',
 '1000',
 '10000000',
 '1000000000',
 '100000415527985',
 '100005244783212',
 '100007085325116',
 '10001',
 '100877300245414',
 '101721377578919894134',
 '10200253113705769',
 '1030',
 '104999962146104962510',
 '10626048',
 '10626835',
 '106865403',
 '107297364',
 '1073741825',
 '1073741828',
 '1073741830',
 '1073741943',
 '108k',
 '109',
 '10b35481',
 '11',
 '1111',
 '1111111111111111111',
 '111719098841907',
 '111982027348137311818',
 '112720997191206369631',
 '11cpwb',
 '11th',
 '12',
 '123',
 '124',
 '124923004',
 '126',
 '127',
 '128gb',
 '12year',
 '13',
 '13017194',
 '131275322914',
 '131338190916',
 '1337',
 '1340488',
 '1340489',
 '1340490',
 '1340491',
 '1340492',
 '1340493',
 '1340494',
 '1340499',
 '1340500',
 '1340502',
 '1340503',
 '1340504',
 '1340517',
 '1340518',
 '1340519',
 '1340520',
 '1340521',
 '1340522',
 '1340523',
 '1340524',
 '134470083389909',
 '14',
 '1408122684',
 '1415297812',
 '1442646731',
 '1446084',
 '1461302180794905',
 '1495323920744243',
 '1496241863981208',
 '1496273723978022',
 '1498561870415874',
 '14gkvdo',
 '15',
 '16',
 '161620527267482',
 '16gb',
 '17',
 '171183229277',
 '1727483389',
 '17yr',
 '18',
 '19',
 '19255',
 '1990',
 '19924',
 '1b',
 '1bi',
 '1billiom',
 '1billion',
 '1bsefqe',
 '1fhenqx1twqm153v2ptayiejnealahzvem',
 '1firo',
 '1hmvtx',
 '1k',
 '1m',
 '1m00s',
 '1min',
 '20',
 '200',
 '2004',
 '2005',
 '2008',
 '2009',
 '200k',
 '200mm',
 '2010',
 '2011',
 '2012',
 '2012430',
 '2012bitches',
 '2013',
 '2014',
 '201470069872822',
 '2015',
 '2016',
 '2017',
 '207230212795137',
 '21',
 '210',
 '2177367',
 '229508',
 '23',
 '23active',
 '23awesome',
 '23eminem',
 '23everydayimvaping',
 '23giraffebruuh',
 '23king',
 '23kinglothedancer',
 '23lmfao',
 '23lovethewayyoulie',
 '23rapgod',
 '23rt',
 '23share',
 '24',
 '24398',
 '243a',
 '247',
 '25',
 '250',
 '25000',
 '251638183951',
 '25874',
 '25th',
 '26',
 '26032883',
 '26t22',
 '27',
 '279',
 '28',
 '29',
 '2asfn9shghk',
 '2b',
 '2b4wywphi8c',
 '2billion',
 '2f',
 '2fen',
 '2flist_of_most_viewed_youtube_videos',
 '2fwiki',
 '2m19s',
 '2nd',
 '2parale',
 '2tggp3pv6l',
 '2x10',
 '2zme8f',
 '30',
 '300',
 '3000',
 '301',
 '302703146601369',
 '30th',
 '313327',
 '313454548839369',
 '315',
 '31st',
 '320',
 '322',
 '327568907427561',
 '32gb',
 '33',
 '333',
 '333607726823679',
 '333608120156973',
 '33gxrf',
 '342',
 '35',
 '360',
 '365',
 '36loseweight',
 '385',
 '387',
 '3873',
 '389088',
 '39',
 '390',
 '390875584405933',
 '391725794320912',
 '3a',
 '3bie',
 '3bkeywords',
 '3bqid',
 '3bsr',
 '3d',
 '3m',
 '3m40s',
 '3m57s',
 '3rd',
 '40',
 '4000',
 '4000dollars',
 '40beuutvu2zkxk4utgpz8k',
 '41',
 '421',
 '43',
 '433',
 '4344749',
 '4436607',
 '4477063',
 '447935454150',
 '4483179854075',
 '448800865296855',
 '45',
 '4500',
 '46',
 '4604617',
 '476000',
 '48051',
 '482',
 '484',
 '490',
 '492',
 '4e',
 '4g',
 '4gb',
 '4m11s',
 '4netjobs',
 '4s',
 '4shared',
 '4snjqp',
 '4th',
 '50',
 '500',
 '5000',
 '500k',
 '500m',
 '505b0232',
 '5094',
 '50k',
 '510',
 '515',
 '521',
 '5242575',
 '5277478',
 '5287',
 '53331',
 '5337555197',
 '53481',
 '543627485763966',
 '55',
 '550',
 '5575096797',
 '55mm',
 '566',
 '57',
 '58',
 '5800',
 '5af506e1',
 '5bgkg2iwphzohwaeuesrwnegqg_labco7rw9wfx8hao',
 '5c',
 '5c2f',
 '5ggs_m_9ma3ti40fs6mvpics',
 '5million',
 '5s',
 '5th',
 '5tu9gn1l310',
 '60',
 '600',
 '600m',
 '613000',
 '616375350',
 '6174122',
 '629',
 '629410220489046',
 '633807',
 '636',
 '6381501',
 '6401116',
 '661',
 '666',
 '674732645945877',
 '682',
 '694',
 '6_h0m5sayho',
 '6th',
 '700',
 '704682339621282',
 '710',
 '710000',
 '73231344',
 '733634264',
 '733949243353321',
 '734237113324534',
 '74',
 '750',
 '753',
 '754989901225153',
 '764484966942313',
 '775510675841486',
 '783',
 '79',
 '7in',
 '7k',
 '800',
 '82',
 '821',
 '824',
 '8252267209931889',
 '832000',
 '84',
 '85',
 '851',
 '857',
 '860',
 '868',
 '8692160',
 '87',
 '870',
 '88',
 '884',
 '8851222',
 '898',
 '89___',
 '89c',
 '89iyec7nrwp5nytno5u7amhvmflutggl',
 '8a',
 '8bit',
 '90',
 '90000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000',
 '902099',
 '9082175',
 '9107',
 '911',
 '920',
 '9277547',
 '936868579660284',
 '937732262907249',
 '940',
 '950',
 '969',
 '999999999',
 '9bzkp7q19f0',
 '9gag',
 '9nl',
 '_0f9fa8aa',
 '__',
 '______________________',
 '______________________________',
 '__killuminati94',
 '_bzszz',
 '_chris_cz',
 '_fphgk5zllsvdqv0zuf0mb',
 '_gibu',
 '_o3h',
 '_ry6f57sprnd2xv',
 '_self',
 '_thqbeum69aqup1ih',
 '_trksid',
 '_vlczzrg8vgctlpsd9ongewhj8',
 'a0qouc7q48v3_qiaaabpugaaacsqar0_vgoqwqxjmpuyvkosf3k',
 'a7',
 'aa',
 'aaaaaaa',
 'aaas',
 'aavpwj9',
 'abbas',
 'ablaze',
 'able',
 'abominable',
 'abomination',
 'abonner',
 'about',
 'above',
 'absolute',
 'absolutely',
 'absorbing',
 'abuse',
 'abused',
 'abuses',
 'abusive',
 'abusue',
 'ac',
 'acaer',
 'acceptance',
 'access',
 'accessories',
 'accidental',
 'accomplished',
 'account',
 'accounts',
 'achieve',
 'achieved',
 'acidic',
 'aclk',
 'acn2g',
 'acoustic',
 'acquire',
 'acquiring',
 'across',
 'act',
 'acting',
 'activates',
 'active',
 'actor',
 'actorid',
 'actors',
 'actresses',
 'actual',
 'actually',
 'ad',
 'adam',
 'adapt',
 'add',
 'addicting',
 'adding',
 'addition',
 'adele',
 'adf',
 'adhoc',
 'admirable',
 'admire',
 'admit',
 'admitting',
 'adore',
 'adoult',
 'adroid',
 'adsense',
 'adult',
 'adurl',
 'advance',
 'advertise',
 'advertisements',
 'advertisiments',
 'advertising',
 'advice',
 'affiliated',
 'affiliateid',
 'afflicted',
 'afford',
 'afiliati',
 'afiliere',
 'afqjcngkm',
 'afraid',
 'africa',
 'african',
 'africans',
 'after',
 'aftermath',
 'again',
 'against',
 'age',
 'ago',
 'agree',
 'agreeable',
 'ah',
 'ahead',
 'ahhh',
 'ai',
 'aid',
 'aiiima',
 'aimbwbfqbzg',
 'ain',
 'air',
 'airlines',
 'airplane',
 'aka',
 'al',
 'album',
 'alcoholic',
 'alert',
 'alex',
 'alfred',
 'ali',
 'alive',
 'all',
 'allot',
 'allow',
 'allows',
 'allways',
 'almond',
 'almost',
 'alo',
 'aloidia',
 'alone',
 'alot',
 'already',
 'alright',
 'also',
 'alternate',
 'alvar',
 'always',
 'am',
 'amazed',
 'amazement',
 'amazing',
 'amazon',
 'ambition',
 'ambitious',
 'amendment',
 'america',
 'american',
 'americans',
 'amiable',
 'amount',
 'amp',
 'amy',
 'an',
 'ana',
 'anaconda',
 'analyst',
 'anand',
 'ancestors',
 'and',
 'anderson',
 'andrew',
 'andrijamatf',
 'android',
 'angel',
 'angels',
 'angry',
 'animal',
 'animals',
 'animation',
 'animations',
 'animator',
 'anime',
 'animes',
 'annoyed',
 'annoying',
 'annoys',
 'another',
 'ans',
 'answer',
 'anthem',
 'antrobofficial',
 'anxious',
 'any',
 'anybody',
 'anymore',
 'anyone',
 'anything',
 'anyway',
 'anywhere',
 'anywon',
 'aod64_1ofc7seh_1pop',
 'aplica',
 'apocalypse',
 'apologies',
 'apostles',
 'app',
 'apparel',
 'apparently',
 'applause',
 'apple',
 'applied',
 'applocker',
 'appoints',
 'appreciate',
 'appreciated',
 'apprecitate',
 'approve',
 'apps',
 'arbitrate',
 'are',
 'aren',
 'arguements',
 'arive',
 'arkglzjqup0',
 'arm',
 'army',
 'around',
 'arrogant',
 'arrowgance',
 'art',
 'artady',
 'articles',
 'artist',
 'artists',
 'as',
 'aseris',
 'asia',
 'asian',
 'asinine',
 'ask',
 'asked',
 'asking',
 'aslamu',
 'aspiring',
 'aspx',
 'ass',
 'assume',
 'astauand',
 'aswell',
 'at',
 'atlastatlas',
 'attacks',
 'attention',
 'auburn',
 'audio',
 'audiojungle',
 'audit',
 'audition',
 'auditiondetail_',
 'auditioning',
 'auditions',
 'aunt',
 'austin',
 'australia',
 'authenticviews',
 'authority',
 'auto',
 'autotune',
 'autotuned',
 'avaaz',
 'available',
 'avicii',
 'avoid',
 'aw',
 'awards',
 'aware',
 'away',
 'aways',
 'awesom',
 'awesome',
 'awesomeness',
 'awesoooome',
 'awesum',
 'awful',
 'awsome',
 'axeljonssons',
 'axiomatic',
 'axy665',
 'aye',
 'ayyy',
 'azerbaijan',
 'b00ecvf93g',
 'b00mppqhri',
 'b3',
 'b5',
 'b5t',
 'b7b',
 'b8l',
 'ba',
 'baba',
 'babe',
 'baby',
 'back',
 'bad',
 'bady',
 'ball',
 'ballad',
 'balls',
 'band',
 'bands',
 'bang',
 'bangers',
 'banging',
 'bangladesh',
 'barnesandnoble',
 'bars',
 'base',
 'based',
 'basically',
 'basketball',
 'bass',
 'bastard',
 'bd3721315',
 'bdp',
 'be',
 'beast',
 'beat',
 'beatboxing',
 'beaties',
 'beating',
 'beats',
 'beautiful',
 'beauty',
 'because',
 'become',
 'becomes',
 'been',
 'before',
 'begin',
 'beginning',
 'behavior',
 'behind',
 'behold',
 'beibs',
 'being',
 'belarus',
 'belgique',
 'belgium',
 'believe',
 'believemefilm',
 'believer',
 'believing',
 'bella',
 'belle',
 'belly',
 'below',
 'belrus',
 'beneath',
 'bengal',
 'bennett',
 'berzerk',
 'besloor',
 'best',
 'bet',
 'beta',
 'betfair',
 'better',
 'between',
 'beutiful',
 'beware',
 'bf4',
 'bg',
 'bgq',
 'bieber',
 'big',
 'bigboss286',
 'bigelow',
 'bigger',
 'bighit',
 'bikini',
 'bil',
 'bilion',
 'billboard',
 'billie',
 'billion',
 'billions',
 'billon',
 'bills',
 'binbox',
 'bing',
 'birtgday',
 'birthday',
 'bisexual',
 'bishopsgravemarker',
 'bit',
 'bitch',
 'bitcoins',
 'bite',
 'black',
 'blanc',
 'blank',
 'blast',
 'bleach',
 'bless',
 'blessing',
 'block',
 'blog',
 'blogfa',
 'blogspot',
 'blond',
 'blonde',
 'blow',
 'blows',
 'blue',
 'blushing',
 'boa',
 'boaconic',
 'bocilile',
 'body',
 'bogdan',
 'bomb',
 'bones',
 'bonus',
 'boobs',
 'book',
 'bookies',
 'bookmakers',
 'boomerul',
 'boooobs',
 'boost',
 'border',
 'borderlands',
 'bored',
 'boring',
 'born',
 'bother',
 'bots',
 'bottom',
 'bout',
 'bowl',
 'box',
 'boxium',
 'boy',
 'boyfriend',
 'boys',
 'bps',
 'br',
 'brah',
 'brain',
 'brake',
 'brand',
 'brave',
 'brazil',
 'brazilian',
 'break',
 'breaken',
 'breaks',
 'breath',
 'brew',
 'briefs',
 'bring',
 'bringing',
 'brings',
 'brinkman',
 'british',
 'britishs',
 'broken',
 'brooooo',
 'brother',
 'brotherhood',
 'brothers',
 'brought',
 'browser',
 'brt0u5',
 'brutally',
 'bs',
 'btw',
 'bubblews',
 'buchmair',
 'bucket',
 'bucks',
 'buggti',
 'build',
 'bulgaria',
 'bumps',
 'bunch',
 'burda',
 'burder',
 'burned',
 'burst',
 'bus',
 'business',
 'busyglide',
 'but',
 'butalabs',
 'butt',
 'button',
 'butts',
 'buy',
 'buys',
 'buzz',
 'bv',
 'bvm',
 'bxrosr',
 'by',
 'c3',
 'c349',
 'ca',
 'cabelo',
 'cachebuster',
 'cad',
 'call',
 'called',
 'calls',
 'came',
 'camera',
 'cameraman',
 'camp',
 'campid',
 'can',
 'canal',
 'cancer',
 'canibus',
 'cant',
 'canvas',
 'cap',
 'capitalized',
 'car',
 'card',
 'cards',
 'care',
 'career',
 'cares',
 'caroline',
 'case',
 'cash',
 'catch',
 'catchy',
 'categories',
 'cats',
 'cause',
 'caution',
 'cazzy',
 'cd',
 'cd92db3f4',
 'ce',
 'cease',
 'cece',
 'celeb',
 'celebrate',
 'celebrated',
 'celebration',
 'celebrity',
 'censor',
 'cent',
 'central',
 'cents',
 'cereal',
 'certain',
 'certification',
 'cevxzvsjlk8',
 'cge',
 'chacking',
 'chainise',
 'challenge',
 'challenges',
 'champion',
 'chance',
 'chanel',
 'chanell',
 'change',
 'changeable',
 'chanicka',
 'channel',
 'channels',
 'channnnnnelll',
 'chanson',
 'chap',
 'characterized',
 'charity',
 'charley',
 'charlie',
 'charlieee',
 'chaste',
 'chaîne',
 'chcfcvzfzfbvzdr',
 'cheat',
 'cheating',
 'cheats',
 'check',
 'checked',
 'checking',
 'cheer',
 'cheers',
 'cheetos',
 'cheilith',
 'chesture',
 'chhanel',
 'chick',
 'child',
 'children',
 'chillpal',
 'chills',
 'chillstep',
 'china',
 'chinese',
 'ching',
 'chiptunes',
 'choice',
 'chooses',
 'chorenn',
 'chorus',
 'chose',
 'chrck',
 'christ',
 'christianity',
 'christians',
 'christmas',
 'chubby',
 'chubbz',
 'chuck',
 'cid',
 'cirus',
 'citizen',
 ...]

In [51]:
X.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

Now we extracted features from the data. And as we know the models perform well over the numbers and guess what, we've now 
numbers in the form of array of arrays. And so these numbers i-e 'X' will be act as features while the corresponding labels are stored 
in the variable 'data_label'

### Building the Model

In [52]:
# for splitting the data into training and testing part
from sklearn.model_selection import train_test_split

In [53]:
X_train, X_test, y_train, y_test = train_test_split(X, data_label, test_size=0.33, random_state=42)

In [54]:
X_train

<1310x4454 sparse matrix of type '<class 'numpy.int64'>'
	with 17525 stored elements in Compressed Sparse Row format>

In [55]:
X_train.shape

(1310, 4454)

Look we've now 4454 of total features to predict the spam or not spam class of a comment

In [56]:
X_train

<1310x4454 sparse matrix of type '<class 'numpy.int64'>'
	with 17525 stored elements in Compressed Sparse Row format>

The Standard Naive Bayes Classifier for the Spam filtering

In [57]:
from sklearn.naive_bayes import MultinomialNB

In [58]:
clf = MultinomialNB()

In [59]:
clf.fit(X_train, y_train)

MultinomialNB()

In [60]:
accuracy = clf.score(X_test, y_test)

In [61]:
print(accuracy*100, '%')

91.95046439628483 %

#### Prediction

In [62]:
clf.predict(X_test)

array([0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0,
       1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0,
       0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1,
       0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1,
       0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0,
       1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0,
       1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0,
       1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1,
       1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0,
       0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1,
       1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1,
       1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0,
       0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0,
       0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1,
       1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0,
       1, 1, 1, 0, 1, 0, 0, 0], dtype=int64)

- 0 ==> Not spam (Ham)
- 1 ==> Spam

Sample Prediction

As we need to provide the data or say text to the model in vectorize form (as we did) so for the future data or prediction, we should convert that data first into vectorize form.

In [63]:
predict_comment = ["Click on this link"]
vectorizer_predict = vectorizer.transform(predict_comment).toarray()
clf.predict(vectorizer_predict)

array([1], dtype=int64)

In [64]:
# predict_comment_2 = ["Awesome song love you!"]
# vectorizer_predict_2 = vectorizer.transform(predict_comment_2).toarray()
# clf.predict(vectorizer_predict_2)

In [65]:
if clf.predict(vectorizer_predict) == 1:
    print('Spam')
elif clf.predict(vectorizer_predict) == 0:
    print('Not Spam/ Ham')

Spam

### Saving Model

In [66]:
import pickle

In [67]:
NBC_Model = open("NBC_Model.pkl", "wb")

In [68]:
pickle.dump(clf, NBC_Model)

In [69]:
NBC_Model.close()